<form action="/payment/results">
  <div>
    <label for="APR">
      Enter a number
    </label>

    <label for="num_years">
      Enter a number
    </label>

    <label for="principal">
      Enter a number
    </label>

    <input id="user_input" type="text" name="user_number" placeholder="What number do you want to take the square root of?">
  </div>

  <button type="submit">
    Calculate square
  </button>
</form>
