<h1>Payment Results</h1>

<p>APR: <%= @apr.to_fs(:percentage, { :precision => 4}) %></p>
<p>Number of years: <%= @years %></p>
<p>Principal: <%= @present_value.to_fs(:currency) %></p>

<h1>Monthly Payment</h1>
<p>Your monthly payment is <%= @payment.to_fs(:currency) %></p>

<a href="/payment/new">Calculate another payment</a>
