<form action="/payment/results">
  <div>
    <label for="apr">
      APR
    </label>

        <input id="apr" type="number" step="0.01" name="user_apr" placeholder="e.g. 5.42">

    <label for="num_years">
      Number of years
    </label>

         <input id="num_years" type="number" name="user_num_years" placeholder="How many years to repay?">

    <label for="principal">
      Principal
    </label>
         
         <input id="principal" type="number" name="user_principal" placeholder="How much principal?">

  </div>

  <button type="submit">
    Calculate monthly payment
  </button>
</form>
