<h1>Random Results</h1>


<p> Number <%= @random %></p>


<p>Minimum number <%= @user_min %></p>
<p>Maximum number <%= @user_max %></p>
<p>Random number <%= @random %></p>

<a href="/random/new">
  Calculate another random number
</a>
