<h1>Square Root Results</h1>


<p> Number <%= @user_number %></p>


<% square_root_number = @user_number ** 0.5 %>

<p>Square root <%= square_root_number %></p>

<a href="/square_root/new">
  Calculate another square root
</a>
