<h1>Square Root Results</h1>


<p> Number <%= @user_number %></p>


<% squared_number = math.sqrt(@user_number) %>

<p>Square <%= squared_number %></p>

<a href="/squareroot">
  Calculate another square root
</a>
